<div class="card">
  <h1>Login</h1>

  <%= form_with url: login_path do %>

    <label>Username</label>
    <%= text_field_tag :username %>

    <label>Password</label>
    <%= password_field_tag :password %>

    <%= submit_tag "Login", class: "btn" %>

  <% end %>
</div>